@using System.Web.Mvc.Ajax;
@model List<Application.Contracts.Departmans.DepartmanDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var error = (string)ViewBag.Error;

}
<a class="btn btn-success" href="/Departman/Yeni">Yeni Departman</a>
<h2>Departman Listesi</h2>
@*@using(Html.BeginForm("Index","Departman",FormMethod.Get))            
{
    @Html.RadioButton("searchBy","Ad")<text>Ad</text>
    @Html.TextBox("search")
    <input type="submit" value="SEARCH" />
}*@
@if (!string.IsNullOrWhiteSpace(error))
{
    @error
}
<table class=" table table-bordered" id="tblDepartmanlar">
    <thead>
        <tr>
            <th>Id</th>
            <th>@Html.ActionLink("Ad","Index",new {orderby=ViewBag.orderby })</th>
            <th>Guncelle</th>
            <th>Sil</th>
            <th>Personeller</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departman in Model)
        {
        <tr>
            <td>@departman.Id</td>
            <td>@departman.DepartmanName</td>
            <td><a class="btn btn-primary" href="/Departman/Guncelle/@departman.Id">Guncelle</a></td>
                <td><a class="btn btn-warning btDepartmanSil" href="/Departman/Delete/@departman.Id" data-ide="@departman.Id">Sil</a></td>
            @*<td>@Html.ActionLink("Personelleri Göster","PersonelleriListele","Personel",new{id=departman.Id} ,new {@class="btn btn-primary"})</td>*@
                <td>
                    <a class="btn btn-primary" href="javascript:void(0)" onclick="loadPersonels(@departman.Id)"
                   >Personelleri Göster</a>
                </td>
            </tr>
        }

    </tbody>
</table>


    

<div id="personelListesi"></div>
<script>
function loadPersonels(departmanId) {
            $.ajax({
                url: "/Personel/PersonelleriListele/" + departmanId,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    // Update the content of the div with the received data
                    console.log(data)
                    $('#personelListesi').html(data)
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

</script>







