@model List<Application.Contracts.Tasks.TaskDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var error = (string)ViewBag.Error;

}
<a class="btn btn-success" href="/Task/Yeni">Yeni Task</a>
<h2>Task Listesi</h2>
@*@using(Html.BeginForm("Index","Departman",FormMethod.Get))
{
    @Html.RadioButton("searchBy","Ad")<text>Ad</text>
    @Html.TextBox("search")
    <input type="submit" value="SEARCH" />
}*@
@if (!string.IsNullOrWhiteSpace(error))
{
    @error
}
<table class=" table table-bordered" id="tblDepartmanlar">
    <thead>
        <tr>
            <th>Id</th>
           
            <th>@Html.ActionLink("Ad","Index",new {orderby=ViewBag.orderby })</th>
            <th>Personel Ad</th>
            <th>DeadLine</th>
            <th>Guncelle</th>
            <th>Sil</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.TaskName</td>
                <td>@task.Personel.Ad</td>
                <td>@task.Deadline</td>
                
                <td><a class="btn btn-primary" href="/Task/Guncelle/@task.Id">Guncelle</a></td>
                <td><a class="btn btn-warning btDepartmanSil " href="/Task/deleteTask/@task.Id" data-ide="@task.Id">Sil</a></td>
                @*<td>@Html.ActionLink("Personelleri Göster","PersonelleriListele","Personel",new{id=departman.Id} ,new {@class="btn btn-primary"})</td>*@
                <td>
                   
                </td>
            </tr>
        }

    </tbody>
</table>






